body{
	font-family: 'Dosis', sans-serif;
	margin: 0%;
	padding: 0%;
	background-color: #1b1b1b;
}
p{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Dosis', sans-serif;
}
.navbar-default .navbar-brand{
	margin: 0%;
	padding: 0px;
}
/*Header*/
.navbar-default{
	background-color: #1B1B1B;
}
.navbar-default .navbar-nav>li>a {
color: rgb(255, 255, 255);
text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #f74d65;
}
header{
	background-image: url(./hhh.jpg);
	background-size: cover;

	background-repeat: no-repeat;
}

.section_overlay{
	background: rgba(0, 0, 0, 0.514);
}











.home_text{
	padding-top: 210px;
	padding-bottom: 180px;
}
.home_text h2{
	color: #ffffff;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 13px;
}
.home_text p{
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}
.home_text img{}



.scroll_down h4{
	font-size: 12px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}


/*Services*/
.services{
	background-color: #1B1B1B;
	padding-top: 96px;

}

.single_service{
	padding-bottom: 96px;
}
.single_service i{
	font-size: 25px;
	color: #fc0f32;
}
.single_service h2{
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
}
.single_service p{
	color: #999999;
	font-size: 14px;
}
.single_progress_bar .progress {
height: 1px;
margin-bottom: 20px;
overflow: hidden;
background-color: #d5d5d5;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.single_progress_bar .progress-bar {
background-color: #2d3334;
}
.single_progress_bar h2{
	color: 000;
	font-size: 14px;
	font-weight: 400;
}

#about{

	background-color: black;
}
.about_us_p{
	font-size: 14px;
	color: #272727;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 21px;
	text-decoration: none;
}
.about_us_p:hover{
	text-decoration: none;
}
.about_title h2{
	font-size: 25px;
	color: #3d3d3d;
	text-transform: uppercase;
	margin-top: 85px;
	letter-spacing: 6px;
	margin-bottom: 21px;
}
.about_title img{
	margin-bottom: 70px;
}
/*Testimonial*/
.testimonial{
		padding-top: 130px;
	padding-bottom: 80px;
}
.testimonial{

}
/* .testimonial .icon:after{
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #f73b56;
	top: 110px;
	left: 50%;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	margin-left: -40px;

} */
.testimonial .icon i{
color: #fff;
font-size: 47px;
position: absolute;
z-index: 555;
left: 50%;
margin-left: -23px;


}
.single_testimonial p{
color: #aaaaaa;
font-size: 18px;
font-family: 'Dosis', sans-serif;
letter-spacing: 1px;
padding-top: 110px;

}
.single_testimonial h4{
	color: #404040;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px
}



/*Fun Facts*/
.fun_facts{
	background: url(./computer-1873831_1920.png);
	width: auto;
	height: auto;
	background-attachment: fixed !important;
	background-repeat: repeat;
	
}
.fun_facts .section_overlay{
background: rgba(2, 2, 2, 0.733);
padding-bottom: 30px;
}


.single_count{
padding-top: 120px;	
}



.single_count i{
	color: #f73b56;
	font-size: 24px;
}
.single_count h3{
font-family: 'Montserrat', sans-serif;
color: #fff;
font-size: 40px;
font-weight: bold;
margin-bottom: 0px;	
}
.single_count p{
font-family: 'Dosis', sans-serif;
color: #fff;
font-size: 14px;
text-transform: uppercase;
position: relative;	
}
.single_count p:before{
content: "";
position: absolute;
width: 16px;
height: 1px;
left: 0;
bottom: -4px;
background: #ef4251;
}
.imac{
position: relative;
margin-top: -40px;	
}
.imac img{
	width: 100%;
}

@media(max-width: 767px){
	.imac{
		margin-top: 20px
	}
}
.single_image{
	margin-right: 3px;
	position: relative;
	transition: all 1s;
}
.single_image img{
	width: 100%;

}
.single_image:hover div.image_overlay{
	opacity: 1;
}

.image_overlay{
position: absolute;
width: 100%;
height: 100%;
background: rgba(247,77,101,.9);
left: 0;
top: 0;
opacity: 0;
	transition: all 1s;

}
.image_overlay a{
position: absolute;
top: 20px;
right: 20px;
color: #fff;
text-decoration: none;
text-transform: uppercase;	
}
.image_overlay h2{
position: absolute;
bottom: 28px;
left: 20px;
font-size: 25px;
color: #fff;
text-transform: uppercase;
letter-spacing: 3px;	
}
.image_overlay h4{
position: absolute;
bottom: 11px;
left: 20px;
color: #fff;
font-size: 14px;
text-transform: uppercase;	
}
.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
#WORK{
background-color: #1b1b1b;
}
.work_title h1, .contact_title h1{
	font-size: 25px;
	color: #ffffff;
	letter-spacing: 5px;
	padding-top: 80px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.work_title img, .contact_title img{
	margin-bottom: 30px;
}
.work_title p, .contact_title p{
	font-size: 14px;
	color: rgb(255, 255, 255);
	margin-bottom: 100px;
}
.last_padding {
	padding-right: 0px;
}
.pad_top {
	padding-top: 2px;
}
.left h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.left p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #000;
}
.baton{
	margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
	color: #fff;
	background-color: #000;
	border-radius: 0px;
	outline: none;
	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
.cs-btn:hover{
	background: #f74d65;
	border-color: #f74d65;
}
.call_to_action .container{
	padding-bottom: 60px;


}

/*Contact*/

.single_contact_info{
padding-bottom: 21px;	
}
.single_contact_info h2{
text-transform: uppercase;
color: #ffffff;
font-size: 18px;
letter-spacing: 3px;
margin-bottom: 1px;	
}
.single_contact_info p{
font-size: 15px;
color: #a3a3a3;
}






.contact-form{
background-color: #f1f1f1;
padding: 30px;
}
.contact-form .form-control{
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 0px solid #fff;
}
.contact-form #message{
	height: 104px;
}
.form_submit{
width: 100%;
background: #f73b56;
border-radius: 0px;
color: #fff;
padding-top: 13px;
padding-bottom: 10px;
transition: all 1s;	
}


.work-with {
padding-bottom: 60px;
padding-top: 10px;
}
.work-with h3{
	font-size: 14px;
	color: #636363;
	text-transform: uppercase;
}



/*Footer*/
footer{
	background-color: #f1f1f1;
	padding-top: 0px;
	padding-bottom: 50px;
}
.footer_logo{}
.footer_logo img{}
.social{
	padding-top: 15px;
}
.social h2{
text-transform: uppercase;
font-size: 16px;	
}
ul.icon_list{
margin: 0;
padding: 0;
list-style: none;
text-align: center;
margin-top: 20px;
}
ul.icon_list li{
display: inline;
padding-left: 3px;
padding-right: 3px;
}
ul.icon_list li a{
display: inline-block;
color: #636363;
border: 1px solid #636363;
border-radius: 50%;
text-align: center;
width: 30px;
height: 30px;
text-align: center;
line-height: 28px;
transition: all 1s;
}
ul.icon_list li a:hover{
	color: #f73b56;
	border-color:#f73b56;
}
.copyright_text{
padding-top: 80px;	
}
.copyright_text p{
color: #636363;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 0px;
letter-spacing: 0px;
}
.copyright_text a{
	color:#f73b56;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #f73b56;
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #f73b56;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    padding-left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f73b56;
    outline: 10px solid #000000;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    box-shadow: inset 0 0 0 0em #f73b56;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}


#Experience{
	padding-bottom: 100px;
}
#Education{
	padding-bottom: 100px;
}














.timelines {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timelines:before {
    background-color: rgb(255, 255, 255);
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timelines-event {
    position: relative;
}

.timelines-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #f73b56;
}

.timelines-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #f73b56;
}

.timelines-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    padding-left: 4em;
    width: 100%;
}

.timelines-event-copy h3 {
    font-size: 1.75em;
}

.timelines-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timelines-event-copy strong {
    font-weight: 700;
}

.timelines-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timelines-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f73b56;
    outline: 10px solid #ffffff;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timelines-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0 0em #f73b56;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}


#Certificates{
	padding: 100px 0px 20px 0px;
}


@media screen and (min-width: 768px) {
	.hr1{
		padding: 20px;
display: none;
	}
  }



@media screen and (max-width: 768px){
	.fun_facts .section_overlay{
		background: rgba(0, 0, 0, 0.87);
		padding-bottom: 30px;
		}
}





@media screen and (min-width: 768px){
	.scroll_down{
		background-color: rgba(179, 28, 28, 0);
		padding-bottom: 50px;
		padding-top: 21px;
		color: white;
		filter: invert(50%);
		font-weight: 600;

	}
}

@media screen and (max-width: 768px){
	.scroll_down{
		background-color: rgba(255, 0, 0, 0);
		padding-bottom: 50px;
		padding-top: 21px;
		color: white;
		filter: invert(50%);
		font-weight: 600;

	}
}


.button-1-a {
	background-color: #f73b56;

	color: white;
	padding: 5px 5px;
	cursor: pointer;
	margin-top: 9px;
	margin-left: 50px;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	
  }




@media screen and (max-width: 768px){.button-1-a {
	background-color: #f73b56;

	color: white;
	padding: 5px 5px;
	cursor: pointer;
	margin-top: 9px;
	margin-left: 15px;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	
  }}

  
  /* Darker background on mouse-over */
  .button-1-a:hover {
	background-color: white;
	color: black;
	font-weight: 500;

	text-decoration: none;

  }


.btn-default{
	width: 378px; height: 40px;
	 background-color: #f73b56;
	  color: black;
	  border: none;
	   margin-top: 4px;
}
@media screen and (max-width: 768px){
.btn-default{
	width: 100%; height: 40px;
	 background-color: #f73b56;
	  color: black;
	  border: none;
	   margin-top: 4px;

}
}

::placeholder{
	color: white;
}
